<div class="container-fluid" id="fila">
  <div class="row">
    <div id="" class="col-1">
      Escríbeme un<br>email<br>
      <a href="mailto:felipe.estradagomez@gmail.com">
      <div class="socialbox" id="">
        <%= image_tag "emailme.png", class:"social"%>
      </div></a> 
    </div>  
  
    <div id="" class="col-6">
      <div class="perfil" id="">
        <h2>PERFIL PROFESIONAL</h2>
        <p style="margin-top:18%; ">
        Ingeniero de sonido con ánimo, entusiasmo, principios éticos y morales para enfrentarme a nuevos retos, oportunidades de obtención de conocimiento y solución de problemas con experiencia en: 
        <ul>
        <li>Planeación, desarrollo, implementación y administración de aplicaciones WEB</li>
        <li>Administración de sistemas de información; obtención, procesamiento y análisis de datos.</li>
        <li>Gestión de proyectos digitales y de comunicación</li>
        <li>Optimización de procesos por medio de TIC</li>
        </ul>
        </p>
      </div>
    </div>
  
    <div class="col-5" id="">
      <div class="" id="myaccordion">
        <h2>EXPERIENCIA LABORAL</h2>
<div class="accordion" id="accordionExample">
  
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          VISOUND S.A.S        
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <table>
        <tr>
        <th style="width:70px;">Jefe<br>Inmediato</th>
        <th style="width:60px;">Periodo</th>
        <th>Cargo y<br>funciones</th>
        <th>Contacto</th>
        </tr>

        <tr>  
        <td>Deisy<br>Merchán</td>
        <td>Nov 2011<br>Ago 2013</td>
        <td id="descc">Ingeniero de sonido asesor, diseñador web, desarrollador de aplicaciones móviles, administrador de software y redes.</td>
        <td>+ 57 (314) 682 73 78</td>
        </tr>
        </table>

      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          INVERSIONES SENDA JULIAN S.A
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <table>
        <tr>
        <th>Jefe Inmediato</th>
        <th>Periodo</th>
        <th>Cargo y funciones</th>
        <th>Contacto</th>
        </tr>

        <tr>
        <td>Juan Carlos Escobar R</td>
        <td>Sep2013<br>Feb2014</td>
        <td>Asesoría en uso de sistemas informáticos, administración de redes locales y página WEB.</td>
        <td>escobar.jc@outlook.com</td>
        </tr>

        </table>
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="falsee" aria-controls="collapseThree">
          RED DIGITAL ESTUDIO
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <table>
        <tr>
        <th>Jefe Inmediato</th>
        <th>Periodo</th>
        <th>Cargo y funciones</th>
        <th>Contacto</th>
        </tr>
        <tr>
        <td>Luis Gabriel González</td>
        <td>Mar 2014 – Jul 2014</td>
        <td>Ingeniero de grabación y producción para proyecto educativo</td>
        <td>+ 57 (311) 589 97 42</td>
        </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="falsee" aria-controls="collapseFour">
          MINISTERIO DE EDUCACIÓN NACIONAL
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <table>
        <tr>
        <th>Jefe Inmediato</th>
        <th>Periodo</th>
        <th style="text-align: center;">Cargo y funciones</th>
        <th>Contacto</th>
        </tr>
        <tr>
        <td>Subdirector de Aseguramiento de la calidad de la educación Superior</td>
        <td>Ene 2015<br>Dic 2017</td>
        <td><ul><li>Administración de sistemas de información relacionados a la subdirección de aseguramiento de la calidad de educación superior.<br>
        <li>Administración del sistema general de convalidaciones de educación superior.<br>
        <li>Apoyo a la subdirección de aseguramiento de la calidad en la extracción y análisis de datos relacionados a la gestión de la convalidación de títulos de educación superior.</ul></td>
        <td>+57 (1) 3078079</td>
        </tr>

        </table>
      </div>
    </div>
  </div>

<div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="falsee" aria-controls="collapseFive">
          GREATER BOGOTÁ CONVENTION BUREAU
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Trabajo actual<br>
        Desarrollador de aplicaciones WEB, Webmaster
      </div>
    </div>
  </div>

</div>

      </div>
    </div>
  </div>
</div>


<div class="container-fluid" id="fila">
  <div class="row">
    <div class="col-1" id="">
      Forkeame en GitHub<br>
      <a href="https://github.com/learningbydoingfeg" target="_blank">
      <div class="socialbox" id="">
        <%= image_tag "git.jpg", class:"social"%>
      </div></a>
    </div>
    
    <div id="" class="col-6">
      <div class="perfil" id="">
        <h2>FORMACIÓN ACADEMICA</h2>
        <p style="margin-top: 19%;">
        <b>ESTUDIOS UNIVERSITARIOS:</b> Universidad de San Buenaventura sede Bogotá<br>
        <b>TITULO OBTENIDO</b> Ingeniero de Sonido - Julio 2013
        </p>
      </div>
    </div>

    <div class="col-5" id="mycarrousel">
      <div class="" id="carrusel">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag "slide1.jpg"%>
            </div>
            <div class="carousel-item">
              <%= image_tag "slide2.jpg"%>
            </div>
            <div class="carousel-item">
              <%= image_tag "slide3.jpg"%>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid" id="fila">
  <div class="row">
    <div class="col-1" id="">
      Sígueme en Twitter<br>
      <a href="https://twitter.com/Felipeest19" target="_blank">
      <div class="socialbox" id="">
        <%= image_tag "tw.jpg", class:"social"%>
      </div></a>
    </div>
  
    <div id="" class="col-6">
      <div class="perfil" id="personales">
        <h2>REFERENCIAS PERSONALES</h2>
        <p style="margin-top: 20%">
        <b>Jorge Colmenares Durán.</b><br>
        Abogado Laboral<br>
        Cel. (312) 480 91 95<br>
        </p>

        <p>
        <b>Hugo Alberto Gómez G.</b><br>
        Ingeniero Civil<br>
        Cel. (311) 475 20 90<br>
        </p>

        <p>
        <b>Ricardo Rodríguez.</b><br>
        Empresario<br>
        Cel. (313) 260 61 28<br>
        </p>

        <p>
        <b>María Alejandra Garavito.</b><br>
        Profesional en finanzas, gobierno y relaciones internacionales.<br>
        Cel. (313) 827 63 93
        </p>
      </div>
    </div>
  
    <div class="col-5" id="">
      <div class="" id="agenda">
        
        <div id="text_cita">
        <h3>¿Necesitas una aplicación?<br>¿Quieres hacer negocios?</h3>
        <h2>AGENDA UNA CITA</h2>
        <p>Envíame un mensaje por medio de este formulario<br> y me pondré en contacto contigo.</p>
        </div>
        
        <div id="formulario_contacto">
        <%= form_for :person do |f| %>
        <div id="email_field">
          Email:<br> <%= f.email_field :email_field, size:"67x10" %></div><br /><br/>
          <div id="text_area">
          Mensaje: <br><%= f.text_area :text_area, size:"65x5" %></div><br />
          <div style="text-align: center;">
          <%= f.submit "Enviar"%></div>
        <% end %>
      </div>
      </div>
    </div>

  </div>
</div>